<!-- As a link -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand mx-auto" do %>
    <i class="fas fa-angle-down fa-2x"></i>
  <% end %>
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%# show if not signed in %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sell your listing', new_user_item_path(current_user), class: 'btn btn-primary'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Your listings', user_items_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to current_user.carts.count > 0 ? "Cart(#{current_user.active_cart.items.count})" : "Cart", user_cart_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Order History', user_carts_history_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link'  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
