<!-- As a link -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand mx-auto" do %>
    <i class="fas fa-angle-down fa-2x"></i>
  <% end %>
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= form_tag items_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-sm-2",
      placeholder: "Discover our collection"
    %>
    <%= submit_tag "Search", class: "btn btn-ghost my-2 my-sm-0" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%# show if not signed in %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sell an item', new_user_item_path(current_user), class: 'btn btn-dark'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Your listings', user_items_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to user_cart_path(current_user), class: "nav-link" do %>
            <% if current_user.active_cart.items.count > 0 && current_user.carts.count > 0 %>
              <i class="fas fa-shopping-cart fa-lg">
                <span id='cart-count' class="badge badge-pill badge-dark", style="background-color:#FF5A26; color:black"><%= current_user.active_cart.items.count %></span>
              </i>
            <% else %>
              <i class="fas fa-shopping-cart fa-lg"></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Order History', user_carts_history_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link'  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
