<div class="d-flex">
<%= link_to 'Tops', items_path(:name => 'top'), class:'mx-5 btn-primary btn' %>
<%= link_to 'Bottoms', items_path(:name => 'bottom'), class:'mx-5 btn-primary btn' %>
<%= link_to 'Accessories', items_path(:name => 'Accessories'), class:'mx-5 btn-primary btn' %>
<%= link_to 'Bags', items_path(:name => 'Bags'), class:'mx-5 btn-primary btn' %>


</div>
<h1 class='border bg-light'>All Items</h1>
<div class="container">
  <%= form_with path: items_path, method: :get do |form| %>
    <%= form.label :keyword, "Search by name:" %>
    <%= form.text_field :name %>
    <%= form.submit "Search" %>
  <% end %>
</div>
<div class="container">
  <div class="cards row">
      <%= render 'shared/item_card' %>
  </div>
</div>
