<div class="container">
    <ol>
      <% @items.each do |item| %>
        <% if item.user == current_user %>
          <li>
            <%= item.name %>
            <%= item.description %>
            <%= item.price %>
            <%= item.brand %>
            <%= item.is_sold ? "Sold" : "Not sold" %>
            <%= link_to "Details", item_path(item) %>
          </li>
          <% end %>
      <% end %>
    </ol>
  </div>
