<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-6 my-5">
      <%= simple_form_for (@item) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :brand %>
      <%= f.input :size , collection: ['S','M','L','XL','Fluffy'], include_blank: false %>
      <%= f.input :categories , collection: ['Tops', 'Bottoms', 'Accessories', 'Bags'], include_blank: false %>
      <%= f.input :image_url, as: :file %>
      <%= f.submit "List item", class: "btn btn-dark" %>
      <%= link_to "Back to listings", items_path, class: "btn btn-dark"  %>
      <% end %>
    </div>
  </div>
</div>
