<div class="container">
  <div class='text-center mt-3'>
    <h2>
      <%= @item.brand %>
    </h2>
    <h3>
      <%= @item.name %>
    </h3>
  </div>
  <div>
    <div class="row justify-content-center">
      <%= cl_image_tag @item.image_url.key, crop: :fill, class: 'w100' %>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 py-3">
        <p>Size: <%= @item.size %></p>
        <p>$<%= @item.price %></p>
        <p>Condition:<%= @item.condition %></p>
        <p><%= @item.location %>, from the seller <i><%= @item.user.email %></i></p>
        <% if current_user.carts.count > 0 && current_user.active_cart.items.include?(@item) %>
          <p>Item has been added to cart</p>
        <% else %>
          <%= link_to create_cart_item_path( user: current_user.id, item: @item.id), method: :post, class: 'btn btn-dark btn-block' do %>
            <i class="fas fa-cart-plus"></i> Add to cart
          <% end %>
        <% end %>

        <% if current_user == @item.user %>
        <%= link_to edit_item_path(@item), method: :get, class: 'btn edit btn-block' do %>
          <i class="fas fa-edit"></i> Edit
        <% end %>
        <%= link_to item_path(@item), method: :delete, class: 'btn btn-dark btn-block' do %>
          <i class="fas fa-trash"></i> Delete
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
