<div class="container">
  <div class='text-center mt-3'>
    <h2>
      <%= @item.brand %>
    </h2>
    <h3>
      <%= @item.name %>
    </h3>
  </div>
  <div class="row">

    <div class="col-6">
      <%= cl_image_tag @item.image_url.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>

    <div class="col-6">
      <p class="mt-5"><%= @item.categories %></p>
      <p>Size: <%= @item.size %></p>
      <p><%= @item.price %></p>
      <% if current_user.carts.count > 0 && current_user.active_cart.items.include?(@item) %>
        <p>Item has been added to cart</p>
      <% else %>
        <%= link_to create_cart_item_path( user: current_user.id, item: @item.id), method: :post, class: 'btn btn-dark btn-block' do %>
          <i class="fas fa-cart-plus"></i> Add to cart
        <% end %>
      <% end %>

      <% if current_user == @item.user %>
      <%= link_to edit_item_path(@item), method: :get, class: 'btn edit btn-block' do %>
        <i class="fas fa-edit"></i> Edit
      <% end %>
      <%= link_to item_path(@item), method: :delete, class: 'btn btn-dark btn-block' do %>
        <i class="fas fa-trash"></i> Delete
      <% end %>

      <% end %>

    </div>

  </div>
</div>
