<div class="container">
  <div class='text-center mt-3'>
    <h2>
      <%= @item.brand %>
    </h2>
    <h3>
      <%= @item.name %>
    </h3>
  </div>
  <div class="row">

    <div class="col-6">
      <div class="card-category mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=@item.image_url%>)">
      </div>
    </div>

    <div class="col-6">
      <p class="mt-5"><%= @item.categories %></p>
      <p>Size: <%= @item.brand %></p>
      <p><%= @item.price %></p>
      <%= link_to create_cart_item_path( user: current_user.id, item: @item.id), method: :post, class: 'btn btn-dark btn-block' do %>
        <i class="fas fa-cart-plus"></i> Add to cart
      <% end %>


      <% if current_user == @item.user %>
      <%= link_to create_cart_item_path( user: current_user.id, item: @item.id), method: :post, class: 'btn btn-primary btn-block' do %>
        <i class="fas fa-edit"></i> Edit
      <% end %>
      <%= link_to create_cart_item_path( user: current_user.id, item: @item.id), method: :post, class: 'btn btn-danger btn-block' do %>
        <i class="fas fa-trash"></i> Delete
      <% end %>

      <% end %>

    </div>

  </div>
</div>
