<div class="container">
    <ol>
      <% @items.each do |item| %>
        <% if item.user == current_user %>
          <li>
            <%= item.name %>
            <%= item.size %>
            <%= item.categories %>
            <%= item.price %>
            <%= item.brand %>
            <%= item.is_sold ? "Sold" : "Not sold" %>
            <img src= <%= item.image_url %> alt="img">
            <%= link_to "Details", item_path(item) %>
          </li>
          <% end %>
      <% end %>
    </ol>
    <%= link_to 'Add new listing', new_user_item_path(current_user) %>
  </div>
